# ========== UNITY ========== #
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# ========== IDE ========== #
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
.idea/

# ========== OS ========== #
.DS_Store
Thumbs.db

# ========== Automaattinen ========== #
*.apk
*.aab
*.stacktrace
